@namespace MASA.Blazor.Experimental.Components

<div class="text-no-wrap @Class" style="@Style">
    <span @ref="Ref" class="@ContentClass" style="@ContentStyle">
        @ChildContent
    </span>

    <MTooltip Top Disabled="DisableTooltip">
        <ActivatorContent>
            <MIcon Color="primary"
                   Disabled="_copying"
                   Small
                   OnClick="HandleOnCopy"
                   @attributes="@context.Attrs">
                @Icon
            </MIcon>
        </ActivatorContent>
        <ChildContent>
            @Tooltip
        </ChildContent>
    </MTooltip>
</div>